@model XeMay.Models.PaginationSet<XeMay.Model.Product>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    var ListCate = (List<XeMay.Model.Category>)ViewBag.ListCate;
    var ListBrand = (List<XeMay.Model.Brand>)ViewBag.ListBrand;
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                    <span>@Model.Keyword</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Thương hiệu</h4>
                    <ul class="filter-catagories">
                        @if (ListBrand.Count() > 0)
                        {
                            foreach (var item in ListBrand)
                            {
                                <li><a href="/thuong-hieu/@item.Url/@item.Id">@item.Name</a></li>

                            }
                        }
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Danh mục</h4>
                    <ul class="filter-catagories">
                        @if (ListCate.Count() > 0)
                        {
                            foreach (var item in ListCate)
                            {
                                <li><a href="/loai-xe/@item.Url/@item.Id">@item.Name</a></li>

                            }
                        }
                    </ul>
                </div>

            </div>

            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-list">
                    <div class="row">
                        @if (Model.Items.Count() > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <div class="col-lg-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img src="@item.Logo" alt="">

                                            @if (item.IsNew == true)
                                            {
                                                <div class="sale">Sale</div>
                                            }

                                            <div class="icon">
                                                <i class="icon_heart_alt"></i>
                                            </div>
                                            <ul>
                                                <li class="w-icon active"><a href="#" class="btn-add-cart-2" data-id="@item.Id"><i class="icon_bag_alt "></i></a></li>
                                                <li class="quick-view"><a href="/san-pham/@item.Url/@item.Id">+ Chi tiết</a></li>
                                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <a href="/san-pham/@item.Url/@item.Id">
                                                <h5>@item.Name</h5>
                                            </a>
                                            @if (item.PriceDiscount > 0)
                                            {


                                                <div class="product-price">
                                                    @item.PriceDiscount
                                                    <span>@item.Price</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="product-price">
                                                    @item.Price
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div style="margin-top:20px;">
                    @if (Model.TotalPages > 1)
                    {
                        // Create numeric links
                        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                        var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                        <nav>
                            <ul class="pagination">
                                @if (Model.Page > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=1" aria-label="First">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page-1)" aria-label="Previous">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                {
                                    if (Model.Page == i)
                                    {
                                        <li class="active page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                                    }
                                }
                                @if (Model.Page < Model.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page+1)" aria-label="Next">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@Model.TotalPages" aria-label="Last">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
    </div>
</section>