@model XeMay.Models.PaginationSet<XeMay.Model.News>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    var ListCate = (List<XeMay.Model.CategoriesNew>)ViewBag.ListCate;

}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                    <span>Tin tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                <div class="blog-sidebar">
                    <div class="blog-catagory">
                        <h4>Danh mục</h4>
                        <ul>
                            @if (ListCate.Count() > 0)
                            {
                                foreach (var item in ListCate)
                                {
                                    <li><a href="/chuyen-muc/@item.Url/@item.Id">@item.Name</a></li>

                                }
                            }

                        </ul>
                    </div>
                    <div class="recent-post">
                        <h4>bài viết mới</h4>
                        <div class="recent-blog">
                            @if (Model.Items.Count() > 0)
                            {
                                foreach (var item in Model.Items)
                                {
                                    <a href="/tin-tuc/@item.Url/@item.Id" class="rb-item">
                                        <div class="rb-pic">
                                            <img src="@item.Logo" alt="">
                                        </div>
                                        <div class="rb-text">
                                            <h6>@item.Name</h6>
                                            <p><span>@item.CreateDate.Value.ToString("dd/MM/yyyy")</span></p>
                                        </div>
                                    </a>
                                }
                            }
                                </div>
                    </div>
                 
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="row">
                    @if (Model.Items.Count() > 0)
                    {
                        foreach (var item in Model.Items)
                        {
                            <div class="col-lg-6 col-sm-6">
                                <div class="blog-item">
                                    <div class="bi-pic">
                                        <img src="@item.Logo" alt="">
                                    </div>
                                    <div class="bi-text">
                                        <a href="/tin-tuc/@item.Url/@item.Id">
                                            <h4>@item.Name</h4>
                                        </a>
                                        <p><span>@item.CreateDate.Value.ToString("dd/MM/yyyy")</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                            <div class="col-lg-12">
                                @if (Model.TotalPages > 1)
                                {
                                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                                    <nav>
                                        <ul class="pagination">
                                            @if (Model.Page > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=1" aria-label="First">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page-1)" aria-label="Previous">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                                            {
                                                if (Model.Page == i)
                                                {
                                                    <li class="active page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                                                }
                                                else
                                                {
                                                    <li class="page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                                                }
                                            }
                                            @if (Model.Page < Model.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page+1)" aria-label="Next">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@Model.TotalPages" aria-label="Last">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                }
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>
